.mainSettings{
    position: relative;
}

#table{
    margin-top: 20px;
}

#userF{
    position: absolute;
    top: 364px;
    right: 498px;
}

#userS{
    position: absolute;
    top: 364px;
    right: 436px;
}

#player1F{
    transform: rotate(90deg);
    position: absolute;
    top: 187px;
    right: 868px;
}

#player1S{
    transform: rotate(90deg);
    position: absolute;
    top: 249px;
    right: 868px;
}

#player2F{
    position: absolute;
    top: 76px;
    right: 684px;
}

#player2S{
    position: absolute;
    top: 76px;
    right: 622px;
}

#player3F{
    position: absolute;
    top: 76px;
    right: 316px;
}

#player3S{
    position: absolute;
    top: 76px;
    right: 255px;
}

#player4F{
    transform: rotate(90deg);
    position: absolute;
    top: 187px;
    right: 73px;
}

#player4S{
    transform: rotate(90deg);
    position: absolute;
    top: 249px;
    right: 73px;
}

#communityCards{
    position: absolute;
    left: 345px;
    width: 317px;
    top: 219px;
    opacity: 0;
}

#logs{
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#logs p{
    margin: 0;
    font-family: 'Trebuchet MS';
}

#user-buttons{
    width: 230px;
    height: 80px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    float: right;
}

.user-iteraction{
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 43, 43);
    width: 60px;
    height: 35px;
    font-family: 'Trebuchet MS';
    color: whitesmoke;
    background-color: rgb(44, 43, 43);
}

.user-iteraction:hover{
    background-color: white;
    color: rgb(44, 43, 43);
}